/*#fef8e1 #5c513d*/
/*フォント*/
@charset "utf-8";
@font-face {
    font-family: gokuhoso;
    font-display: swap;
    src: url("../font/gokuhoso.ttf") format("TrueType");
}

/*keyframeたち*/
@keyframes main_menu_in {
    from{
        width: 50px;
    }
    to{
        width: 250px;
    }
}

/*標準化*/
button, input, textarea {
    font-family : inherit;
}

/*全体*/
html{
    margin: 0 0 0 55px;
    background-color: #ede9e4;
    font-family: "gokuhoso",serif;
    -webkit-tap-highlight-color: transparent;
}
body{
    margin: 0;
}

/*メインメニュー*/
#main_menu{
    background-color: #5c513d;
    border-radius: 0 15px 15px 0;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 50px;
    box-shadow: #bababa78 0px 0px 10px;
    z-index: 3;
}
#main_menu:hover{
    width: 250px;
    animation: main_menu_in 0.5s ease;
}
    #main_menu ul{
        padding: 0;
        margin: 15px 0 0 0;
    }
        #main_menu li{
            list-style: none;
            margin: 5px 20px 0 0;
        }
            #main_menu ul li button,#main_menu ul li a{
                background: none;
                border: none;
                color: #fef8e1;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                text-decoration: none;
            }
            #main_menu li img{
                height: 30px;
                width: 30px;
                padding: 6px;
                margin: 0px 6px 0px 4px;
                border-radius: 20%;
            }
            #main_menu li:hover{
                background-color: #7a6c52;
                border-radius: 0 50px 50px 0;
            }
            .menu_text{
                visibility: hidden;
                margin: 0;
                white-space: nowrap;
                width: 0;
            }
                #main_menu:hover .menu_text{
                    visibility: visible;
                    transition: visibility 0s linear 0.1s;
                    width: fit-content;
                }
            hr{
                margin: 10px 5px;
                color: #fef8e1;
            }


header{
    height: 50px;
    display: grid;
    grid-template-columns: 180px 1fr 100px;
    position: absolute;
    top: 0;
    width: calc(100vw - 55px);
    z-index: 2;
    overflow-y: hidden;
}
    header h1{
        margin: 0;
    }
        header h1 img{
            height: 45px;
        }
    #search{
        height: 34px;
        margin: auto 0;
    }
        #search_box{
            width: 100%;
            background-color: #fff;
            border-radius: 10px;
            padding: 0;
            height: 34px;
            margin: auto;
            box-shadow: inset #bababa2c 0px 0px 10px;
            display: flex;
            flex-direction: row-reverse;
        }
        #search_list{
            display: none;
            background-color: #fff;
            border-radius: 0 0 10px 10px;
            padding: 0 5px 5px 5px;
            width: calc(100vw - 345px);
            position: fixed;
        }
            #search_list ul{
                padding: 0;
                margin: 0;
            }
            #search_list Ul li{
                list-style: none;
                border-radius: 2em;
            }
            #search_list ul li a{
                text-decoration: none;
                color: #000;
                width: 100%;
                display: grid;
                grid-template-columns: 30px 1fr;
            }
            #search_list ul li a img{
                width: 20px;
                height: 20px;
                margin: 5px;
            }
            #search_list ul li a p{
                margin: 0;
            }
                #search_list ul li:hover{
                    background-color: #ddd;
                }
            #search_box_submit{
                width: 24px;
                height: 24px;
                margin: 3px 0 3px 3px;
                background: none;
                border: none;
                background-image: url(../img/i_search.svg);
                background-size: cover;
                background-position: center;
                cursor: pointer;
            }
            #search_box_input{
                margin: auto;
                background: none;
                border: none;
                width: calc(100% - 40px);
                outline: none;
            }
            #search_box:has(#search_box_input:focus){
                border-radius: 10px 10px 0 0;
                box-shadow: none;
            }
            #search_box:has(#search_box_input:focus) ~ #search_list,#search_list:hover{
                display: block;
            }
    #username{
        width: 90px;
        margin: auto;
    }
        #username_btn{
            display: flex;
            background: none;
            border: none;
            margin: 6px 2px;
            padding: 2px 6px;
            cursor: pointer;
            height: 34px;
            border-radius: 1em;
        }
        #username_btn:hover{
            background-color: #7a6c52;
        }
            #username_btn img{
                height: 18px;
                margin: auto 0;
            }
            #username_btn p{
                font-size: 18px;
                margin: auto 0;
            }

#mains{
    display: flex;
    overflow-x: auto;
    margin-top: 50px;
    width: 100%;
}
    #mains h2{
        margin: 0;
        font-size: 14px;
    }
    .mains_large{
        width: fit-content;
        min-width: 100px;
    }
        .cards{
            display: flex;
            margin: 10px 0 0 0;
        }
            .card{
                height: 60px;
                width: 60px;
                padding: 5px;
                border-radius: 10px;
            }
            .card:hover{
                background-color: #fffdfa;
            }
                .card a{
                    color: #000;
                    text-decoration: none;
                }
                .card img{
                    height: 40px;
                    width: 40px;
                    background-color: #fffdfa;
                    border-radius: 5px;
                    margin: 0 10px;
                }
                .card p{
                    margin: 0;
                    text-align: center;
                    padding: 0;
                }

#dashboard{
    display: grid;
}