#add_links{
    width: 100%;
}

#add_links_url{
    width: 90%;
    margin: 5%;
    border: none;
}

#add_links div{
    margin: 0 5%;
    width: 90%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.favicons label{
    height: 100px;
}
.favicons label:first-child{
    border-radius: 15px 0 0 15px;
}
.favicons label:last-child{
    border-radius: 0 15px 15px 0;
}
#add_links div label:hover{
    background-color: #aaa;
}

#add_links div label img{
    height: 70px;
    width: 50%;
    margin: 15px auto;
    display: block;
}