/*フォント*/
@charset "utf-8";
@font-face {
    font-family: gokuhoso;
    font-display: swap;
    src: url("../apps/others/font/gokuhoso.ttf") format("TrueType");
}
button, input, textarea {
    font-family : inherit;
    font-weight: bold;
}

html{
    margin: 0;
    background-color: #fef8e1;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

body{
    min-width: 320px;
    width: 80vw;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #fff;
    padding: 30px 0;
    font-family: 'gokuhoso',serif;
}
@media (min-height: 600px) {

}  
.logo{
    height: 50px;
    margin: 0 auto;
    display: block;
}
h1{
    text-align: center;
    margin: 1em 0;
}
form{
    margin: 0 auto;
}
#OAuths{
    display: flex;
    gap: 20px;
    margin: 0 auto;
    width: fit-content;
}
#OAuths img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: #f3f1ef 0px 0px 10px;
}
#OAuths a:hover img{
    box-shadow: none;
}
    #input{
        margin: 50px 20px 0.25em 20px;
        width: calc(100% - 40px - 1em);
        padding: 1em 0.5em;
        font-size: 1em;
        display: block;
        border: #9e8c6b solid 2px;
        border-radius: 0.25em;
    }
    #input:focus{
        outline-color: #d8c196;
    }
    #forget_pass{
        margin-left: calc(20px + 1em);
        text-decoration: none;
        color: #9e8c6b;
    }
    #forget_pass:hover{
        background-color: #fafafa;
    }
    .flat{
        display: flex;
        margin-top: 50px;
    }
    .flat a{
        margin-left: 20px;
        border-radius: 3em;
        padding: 1em;
        text-decoration: none;
        color: #9e8c6b;
    }
    .flat a:hover{
        background-color: #fef8e1;
    }
    .submit{
        background-color: #9e8c6b;
        border: none;
        padding: 1em 2em;
        border-radius: 3em;
        margin-left: auto;
        margin-right: 20px;
        color: #fff;
    }
    .submit:hover{
        background-color: #d8c196;
    }